h1 {
  color: rgb(22, 22, 125);
  font-family: "Fleur De Leah", serif;
  font-weight: 500;
  font-size: 60px;
  font-style: normal;
  background-color: rgb(187, 189, 193);
  padding-left: 45px;
  border: 2px solid gray;
}

h2 {
  color: rgb(37, 37, 107);
  font-size: 40px;
  font-family: "Fleur De Leah", serif;
  font-weight: 200;
  padding-left: 15px;
  font-family: "Ephesis", serif;
  font-weight: 400;
  font-style: normal;
  background-color: rgb(194, 194, 194);
}

#introduccio {
  font-size: larger;
  color: rgb(33, 33, 50);
  text-align: justify;
}

.colorblau {
  color: blue;
}

.capçalera {
  grid-area: c;
}

.contingut {
  grid-area: o;
  text-align: justify;
}

.lateral {
  grid-area: l;
}

.peu {
  grid-area: p;
}

.principal {
  padding-left: 30px;
  display: grid;
  grid-gap: 50px;
  grid-template-rows: 125px auto 40px;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "c c"
    "o l"
    "p p";
}
